<!DOCTYPE html>
<html lang="en">

{% include './layout/head.html' %}

<body data-type="index">
<script src="static/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:;"><img src="static/img/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        {% include './layout/right.html' %}

    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    {% include './layout/left.html' %}
    <!--主体内容-->
    {% block content %}
    {% endblock %}

</div>
{% include './layout/js.html' %}
</body>

</html>